body{
    margin: auto;
}
div>label{
    text-align: left;
}
.controls{
   display: table-row;
}
fieldset{
    background-color: gray;
    width:400px;
}
legend{
    background-color: honeydew;
}
input[type="submit"]{
    background-color: indianred;
}
a{
   color: red; 
}
label,input{
    display: table-cell;
    margin-bottom: 10px;
}
.labels{
    padding-right: 10px;
}
form{
    display: table
}