body{
    margin: auto;
}
div>label{
    text-align: left;
}
.controls{
    margin-bottom: 2px;
}
fieldset{
    background-color: gray;
    width:400px;
}
legend{
    background-color: honeydew;
}
input[type="submit"]{
    background-color: indianred;
}
a{
   color: red; 
}
label{
    padding-right: 10px;
}