body{
    background-image: url('/images/movie/background.png');
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    max-width: 1024px;
    max-height: 768px;
}
.container{
    border-radius: 12px;
}
