.boundary1 {
  background-color: black;
  border: black solid 1px;
  border-right: 0;
  width: 300px;
  padding: 50px;
  margin: 20px;
}

.boundary2 {
  background-color: aquamarine;
  border: aliceblue solid 1px;
  border-bottom: 0;
  width: 300px;
}
.boundary3 {
  background-color: black;
  border: black solid 1px;
  border-left: 0;
  width: 300px;
  padding: 50px;
}
.boundary4 {
  background-color: brown;
  border: black solid 1px;
  width: 300px;
  padding: 50px;
}
.boundary5 {
  background-color: chocolate;
  border: black solid 1px;
  width: 300px;
  padding: 50px;
}
