.one {
  background-color: antiquewhite;
  border: black solid 1px;
  border-right: 0;
  width: 300px;
  padding: 50px;
  display: inline-block;
}

.two {
  background-color: aquamarine;
  border: black solid 1px;
  width: 300px;
  padding: 50px;
  display: inline-block;

  border-bottom: 0;
}
.three {
  background-color: black;
  border: black solid 1px;
  border-left: 0;
  width: 300px;
  padding: 50px;
  display: inline-block;
}
